
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
body{
    background:#ffeae0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.box{
    background-color:rgb(255, 243, 243);
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0,1),
                0 32px 64px -48px rgba(255, 253, 253, 0.5);
}
.form-box{
    width: 450px;
    margin: 0px 10px;
}
.form-box header{
    font-size: 25px;
    color: #060606;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    font-size: 15px;
    flex-direction: column;
    color: #060606;
}
.form-box form .input input{
    height: 30px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #727070;
    outline: none;
}
.btn{
    height: 30px;
    background-color: bisque;
    border-radius: 5px;
    border: 0;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    padding: 0px 10px;
    margin-top: 10px;

}
.btn:hover{
    opacity: 0.82;
}
.submit{
    width: 100%;
}
.links{
    margin-bottom: 15px;
    text-align: center;
}
